
/* MEDIA FOR PHONES -----------*/

@media screen and (max-width: 320px) {
  /* ------- HEADER/NAV ------ */
  
    nav {
      height: 80px;
    }
  
    .nav {
      &__item {
        padding: 8px 0;
        width: 50%;
      }

      &__logo {
        padding: 0 70px;
      }
    }
    
    header nav ul {
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
    }
    
    header nav ul li {
      margin: 0;
      padding: 8px 0;
    }
      

  
  /* ------- MAIN ------ */
  
    .main {
      &__artistName {
        width: 250px;
        margin-left: 16px;
      }

      &__background {
        height: 183px;
      }
    }

  
  /* ------- MAIN CONTENT ------ */
  
    .content {
      margin-bottom: 40px;

      &__mainCenter {
        padding: 0;
      }

      &__main {
        padding: 0px 16px;
      }
    }
  
    .p__shortBio1, .p__shortBio2 {
      width: 100%;
      padding: 0;
      word-wrap: break-word;
    }
  
    .img__about {
      width: 288px;
      height: auto;
    }
  
  /* ------- GALLERY ------ */
  
    .photoContent {
      &__main {
        padding: 0px 16px;
      }

      &__gallery {
        width: 288px;
        height: 162px;
        padding-bottom: 16px;
      }

      &__photos {
        padding-top: 0;
        
      }
    }
  
  /* ------- FOOTER ------ */
  
    footer {
      height: 800px;
    }

    .footer__footer1, .footer__footer2, .footer__footer3 {
      margin: 32px 16px;
    }
  
    .footer {
      &__footRight {
        display: none;
      }

      &__footer2 {
        flex-wrap: wrap;
        flex-direction: column;
      }

      &__footer3 {
        width: 220px;
      }

      &__foot1 {
        display: block;
        flex-wrap: wrap;
      }

      &__socialMediaLogo {
        padding: 32px 16px 0 0;
      }

      &__inline {
        padding: 24px 0 0 0;
      }

      &__foot2 {
        margin-bottom: 24px;
      }
    }

  
  /* ------- GLOBAL/FONTS/RESET ------ */
  
    .padding--lg {
      padding: 8px 0 0 0;
    }
  
    h1, .h1_heroHeader {
      font-size: 24px;
      line-height: 32px;
      font-family: $boldFont;
      padding: 32px 0 24px 0;
    }
  
    h2 {
      font-size: 14px;
      line-height: 22px;
      margin-top: 24px;
      margin-bottom: 24px;
      font-family: $demiBoldFont;
      padding: 0;
    }
  
    h3 {
      padding: 8px 0;
    }
  
    p {
      font-size: 13px;
      line-height: 18px;
    }
  
    h4, li {
      font-size: 13px;
      line-height: 18px;
    }
  
    h5, th, td {
      font-size: 12px;
      line-height: 20px;
    }
    

  /* ------- SHOWS PAGE ------ */

    .main {
      &__shows {
        height: 472px;
      }

      &__artistNameShow {
        padding-top: 0;
      }

      &__soundcloud {
        padding-left: 16px;
        width: 288px;
        margin-top: 40px;
      }

      &__album {
        margin-left: 16px;
        padding-top: 40px;
        width: 300px;
      }
    }

    .content__header {
      padding: 32px 0 16px 0;
    }

    table {
      width: 288px;
    }

    th, td {
      display: block;
    }

    td {
      text-align: left;
    }

    td > .table_button {
      border-bottom: $silver 1px solid;
    }

    .table__padding {
      padding: 0;
      margin-top: 24px;
      border: none;
    }

    table td.table__padding::before {
      content: attr(data-label);
      display: block;
      padding: 8px 0 16px 0;
      color: $silver;
      font-size: 12px;
      line-height: 20px;
      font-family: $demiBoldFont;
    }

    thead {
      display: none;
    }

    .table__ticketButton {
      width: 288px;
      height: 48px;
      text-align: center;
      margin: 32px 0 16px 0;
    }

    .table__date {
      width: 50%;
    }


  /* ------- COMMENTS SECTION ------ */

    .commentContent {
      &__main {
        padding: 0px 16px;
      }

      &__section {
        margin: 16px 0 0 0;
      }

      &__button {
        margin-bottom: 32px;
      }
    }

    .commentJava__section {
      margin: 0;
      padding: 24px 0;
      width: 100%;
    }

    .commentJava__comment {
      margin-top: 16px;
    }

    input, textarea {
      width: 206px;
    }

  }
  