/* MEDIA FOR TABLET------------- */


@media screen and (max-width: 1400px) {
  /* ------- VARIABLES ------ */
  $tabletMargin: 24px;
  
  /* ------- HEADER/NAV ------ */
  
    header nav ul {
      margin-left: $tabletMargin;
    }
  
  /* ------- MAIN ------ */
  
    .main__background {
      height: 400px;
    }
  
  /* ------- MAIN CONTENT ------ */
  
    .content__main, .photoContent__main {
      padding: 0px $tabletMargin;
    }
  
    .main__artistName {
      margin-left: $tabletMargin;
    }
  
    .content__mainCenter {
      padding: 0;
    }
  
    .p__shortBio1, .p__shortBio2 {
      width: 330px;
      padding: 0 $tabletMargin 0 0;
    }

    .p__shortBio2 {
      margin-top: 16px;
    }
  
  /* ------- GALLERY ------ */
  
    .img__about {
      height: 362px;
      width: 720px;
    }
  
    .photoContent__gallery {
      width: 224px;
      height: 126px;
    }

    .photoContent__photos {
      justify-content: space-around;
    }

  
  /* ------- FOOTER CLASSES ------ */
    .footer__footer1, .footer__footer2, .footer__footer3 {
      margin-left: $tabletMargin;
      margin-right: $tabletMargin;
    }
  
    .shows {
      height: 670px;
    }

    .main__soundcloud {
      padding-left: $tabletMargin;
    }
  
    .main__album {
      margin-left: $tabletMargin;
      padding-top: 96px;
      width: 600px;
    }

  /* ------- SHOWS PAGE ------ */

    table {
      width: 720px;
      padding-top: 0;
    }

    .main__shows {
      height: 670px;
    }

  /* ------- COMMENT SECTION ------ */

    .commentContent__main {
      padding: 0px $tabletMargin;
    }

    .commentJava__section {
      /*margin: 0 96px;*/
      padding: 24px 0;
/*       width: 528px; */
    }

  }

  @media screen and (min-width: 883px) {
    table {
      padding-top: 48px;
    }
  }

  @media screen and (max-width: 767px) {
    .photoContent {

      &__gallery {
        width: 288px;
        height: 162px;
        padding-bottom: 16px;
      }

      &__photos {
        justify-content: space-around;
      }
    }

      .img__about {
        width: 100%;
        height: auto;
      }


    input, textarea {
      width: 442px;
    }

    .commentJava__section {
      margin: 0;
    }
  }
   
  @media screen and (max-width: 590px) {
    .footer__footRight {
      display: none;
    }

    input, textarea {
      width: 360px;
    }
    
  }

  @media screen and (max-width: 480px) {
    input, textarea {
      width: 265px;
    }

    nav {
      height: 80px;
      justify-content: center;
    }
  
    .nav {
      &__item {
        padding: 8px 0;
        width: 50%;
      }

      &__logo {
        padding: 0 70px;
      }
    }

    header nav ul {
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
    }
    
    header nav ul li {
      margin: 0;
      padding: 8px 0;
    }


    .main {
      &__shows {
        height: 472px;
      }

      &__artistNameShow {
        padding-top: 0;
      }

      &__soundcloud {
        padding-left: 16px;
        width: 288px;
        margin-top: 40px;
      }

      &__album {
        margin-left: 16px;
        padding-top: 40px;
        width: 300px;
      }

      &__artistName {
        width: 250px;
        margin-left: 16px;
      }
    }

    .content__header {
      padding: 32px 0 16px 0;
    }

    h1, .h1_heroHeader {
      font-size: 24px;
      line-height: 32px;
      font-family: $boldFont;
      padding: 32px 0 24px 0;
    }

    h2 {
      font-size: 14px;
      line-height: 22px;
      margin-top: 24px;
      margin-bottom: 24px;
      font-family: $demiBoldFont;
      padding: 0;
    }
  }

   
  @media screen and (max-width: 380px) {
    input, textarea {
      max-width: 206px;
    }

    table {
      width: 288px;
    }

    th, td {
      display: block;
    }

    td {
      text-align: left;
    }

    td > .table_button {
      border-bottom: $silver 1px solid;
    }

    .table__padding {
      padding: 0;
      margin-top: 24px;
      border: none;
    }

    table td.table__padding::before {
      content: attr(data-label);
      display: block;
      padding: 8px 0 16px 0;
      color: $silver;
      font-size: 12px;
      line-height: 20px;
      font-family: $demiBoldFont;
    }

    thead {
      display: none;
    }

    .table__ticketButton {
      width: 288px;
      height: 48px;
      text-align: center;
      margin: 32px 0 16px 0;
    }

    .table__date {
      width: 50%;
    }


    
  }

