/* ------- VARIABLES ------ */
/* ------- MIXINS ------ */
/* ------- FONTS ------ */
@font-face {
  font-family: AvenirNextRegular;
  src: url("../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: AvenirNextBold;
  src: url("../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: AvenirNextDemiBold;
  src: url("../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
}

/* ------- GLOBAL ------ */
* {
  overflow-x: hidden;
  color: #323232;
  font-family: AvenirNextRegular;
}

body {
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  color: #323232;
  padding: 48px 0;
  font-family: AvenirNextBold;
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: AvenirNextBold;
  display: block;
  margin: 0;
  padding: 48px 0 0 0;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: AvenirNextDemiBold;
  padding-top: 40px;
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirNextRegular;
}

h4, li, .nav__item > a {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  font-family: AvenirNextRegular;
}

h5, th, td {
  font-size: 12px;
  line-height: 20px;
  font-family: AvenirNextRegular;
}

.h1_heroHeader {
  font-size: 60px;
  line-height: 68px;
  color: #FFFFFF;
  font-family: AvenirNextBold;
}

/* ------- HEADER/NAV ------ */
header, nav {
  height: 80px;
  width: 100%;
  background-color: #323232;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0 0 0 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li {
  margin-right: 56px;
  text-align: center;
}

.nav__item {
  width: 80px;
  padding: 30px 0 27px 0;
  border-bottom: 3px solid #323232;
}

.nav__logo {
  padding: 0;
}

.nav__currentPage {
  border-bottom: 3px solid #FFFFFF;
}

a, a:link, a:visited {
  text-decoration: none;
}

nav li:hover {
  text-decoration: none;
  border-bottom: 3px solid #FFFFFF;
}

/* ------- MAIN ------ */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__background {
  height: 670px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 100vmax rgba(50, 50, 50, 0.5);
          box-shadow: inset 0 0 0 100vmax rgba(50, 50, 50, 0.5);
  z-index: -1;
}

.main__shows {
  background-image: url("../Assets/Images/shows.jpg");
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main__artistName {
  width: 600px;
  margin-left: 180px;
}

.main__biography {
  background-image: url("../Assets/Images/album_hero.jpg");
}

/* ------- MAIN CONTENT ------ */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__main {
  padding: 0px 180px;
}

.content__mainCenter {
  padding: 0 96px;
}

.photoContent__main {
  padding: 0px 180px;
}

.img__about {
  width: 896px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h2__quote {
  width: 800px;
}

.p__shortBio1, .p__shortBio2 {
  width: 420px;
  padding: 32px 40px 0 0;
  display: inline-block;
  margin: 0;
}

.p__shortBio2 {
  padding: 32px 0 0 0;
}

/* ------- PICTURE GALLERY ------ */
.photoContent {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photoContent__photoGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photoContent__gallery {
  width: 344px;
  height: 193px;
  padding-bottom: 24px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.photoContent__gallery:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.photoContent__photos {
  padding-top: 16px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ------- FOOTER ------ */
footer {
  height: auto;
  width: 100%;
  background-color: #323232;
}

.footer__footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 180px 0 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 180px 8px 180px;
  overflow-wrap: break-word;
}

.footer__footer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 180px 32px 180px;
}

.footer__foot1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__foot2 {
  width: 300px;
}

.footer__inline {
  width: 284px;
  margin: 0;
}

.footer__socialMediaLogo {
  padding: 0 16px;
  height: auto;
}

.footer__logoFooter {
  height: 24px;
  width: 120px;
}

.footer__footRight {
  height: 24px;
}

/* ------- MISC/RESET ------ */
.color__white {
  color: #FFFFFF;
}

.color__black {
  color: #323232;
}

.color__silver {
  color: #AFAFAF;
}

.margin--reset {
  margin: 0;
}

.padding--sm {
  padding: 24px 0 24px 0;
}

.padding--lg {
  padding-top: 56px;
}

/* ------- SHOWS PAGE ------ */
.main__soundcloud {
  padding-left: 64px;
}

.main__album {
  margin-left: 180px;
  padding-top: 160px;
  width: 1000px;
}

.main__shows {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.content__shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

table {
  width: 804px;
  padding-top: 48px;
  border-spacing: 0;
}

th, td {
  text-align: left;
  padding: 0;
}

th {
  color: #AFAFAF;
}

td {
  border-bottom: #AFAFAF 1px solid;
  color: #323232;
}

.table__padding {
  padding: 30px 0;
}

.table__date {
  font-family: AvenirNextDemiBold;
  font-size: 14px;
  line-height: 20px;
}

.table__button {
  text-align: right;
}

.table__buttonWidth {
  width: 20%;
}

.table__ticketButton {
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #323232;
  text-align: center;
  border: 1px black solid;
  width: 160px;
  height: 48px;
}

/* 
.table__noBorder {
  border: none;
} */
/* ------- COMMENT SECTION CLASSES ------ */
.commentContent {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commentContent__button {
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #323232;
  text-align: center;
  border: 1px black solid;
  width: 160px;
  height: 48px;
}

.commentContent__main {
  padding: 0 180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commentContent__section {
  /*margin: 0 276px;*/
  width: 528px;
  margin-top: 8px;
  border-bottom: 1px #E1E1E1 solid;
}

.commentContent__name {
  height: 48px;
  padding: 0 0 0 16px;
  background-color: #FAFAFA;
}

.commentContent__comment {
  height: 96px;
  padding: 16px 0 0 16px;
  background-color: #FAFAFA;
}

.commentContent__button {
  margin: 24px 0 24px 0;
  float: right;
}

.commentContent__pic {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 24px;
}

.commentContent__comments {
  padding: 0 276px;
}

.commentContent__h1 {
  width: 100%;
}

.commentContent__delete {
  border-radius: 4px;
  border: 1px black solid;
  margin-top: 12px;
  background-color: #323232;
  color: #FFFFFF;
  float: right;
}

form {
  display: block;
  float: right;
}

input, textarea {
  width: 442px;
  display: block;
  border: 1px #E1E1E1 solid;
  border-radius: 4px;
}

label {
  font-size: 12px;
  line-height: 20px;
  color: #AFAFAF;
}

input {
  margin-bottom: 24px;
}

form {
  display: inline;
}

::-webkit-input-placeholder {
  color: #323232;
}

:-ms-input-placeholder {
  color: #323232;
}

::-ms-input-placeholder {
  color: #323232;
}

::placeholder {
  color: #323232;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px #323232 solid;
  background-color: #FFFFFF;
}

.commentJava__section {
  border-bottom: 1px #E1E1E1 solid;
  margin: 0 10%;
  padding: 24px 0;
  width: 528px;
}

.commentJava__pic {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-top: 0;
  float: left;
}

.commentJava__name {
  color: #323232;
  display: inline-block;
  margin: 0 0 0 16px;
  vertical-align: top;
}

.commentJava__date {
  color: #AFAFAF;
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: top;
}

.commentJava__comment {
  display: block;
  margin: 8px 0 0 64px;
}

#commentJava {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ------- IMPORT MEDIA CLASSES ------ */
/* ------- TABLET ------ */
/* MEDIA FOR TABLET------------- */
@media screen and (min-width: 1440px) {
  .photoContent, .commentContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__shows, .commentContent__main, .photoContent__photoGallery {
    width: 1080px;
  }
}

@media screen and (max-width: 1400px) {
  /* ------- VARIABLES ------ */
  /* ------- HEADER/NAV ------ */
  header nav ul {
    margin-left: 24px;
  }
  /* ------- MAIN ------ */
  .main__background {
    height: 400px;
  }
  /* ------- MAIN CONTENT ------ */
  .content__main, .photoContent__main {
    padding: 0px 24px;
  }
  .main__artistName {
    margin-left: 24px;
  }
  .content__mainCenter {
    padding: 0;
  }
  .p__shortBio1, .p__shortBio2 {
    width: 330px;
    padding: 0 24px 0 0;
  }
  .p__shortBio2 {
    margin-top: 16px;
  }
  .h2__quote {
    width: auto;
  }
  /* ------- GALLERY ------ */
  .img__about {
    height: 362px;
    width: 720px;
  }
  .photoContent__photos {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* ------- FOOTER CLASSES ------ */
  .footer__footer1, .footer__footer2, .footer__footer3 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .shows {
    height: 670px;
  }
  .main__soundcloud {
    padding-left: 24px;
  }
  .main__album {
    margin-left: 24px;
    padding-top: 96px;
    width: 800px;
  }
  /* ------- SHOWS PAGE ------ */
  table {
    width: 720px;
    padding-top: 0;
  }
  .main__shows {
    height: 670px;
  }
  /* ------- COMMENT SECTION ------ */
  .commentContent__main {
    padding: 0px 24px;
  }
  .commentJava__section {
    /*margin: 0 96px;*/
    /*width: 528px; */
    padding: 24px 0;
  }
  .commentContent__h1 {
    padding-top: 32px;
  }
}

@media screen and (min-width: 883px) {
  table {
    padding-top: 48px;
  }
  .photoContent_gallery {
    width: 344px;
    height: 193px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1088px) {
  .photoContent__gallery {
    width: 264px;
    height: 140px;
  }
}

@media screen and (max-width: 940px) {
  .photoContent__gallery {
    width: 224px;
    height: 126px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .content__shows {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 780px) and (max-width: 1438px) {
  .p__shortBio1, .p__shortBio2 {
    width: 45%;
  }
}

@media screen and (max-width: 767px) {
  .photoContent__gallery {
    width: 224px;
    height: 126px;
    padding-bottom: 16px;
  }
  .photoContent__photos {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .img__about {
    width: 100%;
    height: auto;
  }
  input, textarea {
    width: 442px;
  }
  .commentJava__section {
    margin: 0;
  }
  .photoContent__gallery {
    width: 360px;
    height: 204px;
    padding-bottom: 16px;
  }
  .p__shortBio1, .p__shortBio2 {
    width: auto;
  }
  .footer__foot2 {
    padding-right: 10px;
  }
}

@media screen and (max-width: 590px) {
  .footer__footRight {
    display: none;
  }
  .main__artistName {
    padding-bottom: 0;
  }
  .commentContent__main {
    width: 288px;
  }
  input, textarea {
    width: 206px;
  }
}

@media screen and (max-width: 480px) {
  nav {
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    padding: 8px 0;
    width: 50%;
  }
  .nav__logo {
    padding: 0 70px;
  }
  header nav ul {
    margin: 0;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav ul li {
    margin: 0;
    padding: 8px 0;
  }
  .main__shows {
    height: 472px;
  }
  .main__artistNameShow {
    padding-top: 0;
  }
  .main__soundcloud {
    padding-left: 16px;
    width: 288px;
    margin-top: 40px;
  }
  .main__album {
    margin-left: 16px;
    padding-top: 40px;
    width: 300px;
  }
  .main__artistName {
    width: 250px;
    margin-left: 16px;
  }
  .content__header {
    padding: 32px 0 16px 0;
  }
  h1, .h1_heroHeader {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirNextBold;
    padding: 32px 0 24px 0;
  }
  h2 {
    font-size: 14px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: AvenirNextDemiBold;
    padding: 0;
  }
  .footer__inline {
    padding-top: 24px;
  }
}

@media screen and (max-width: 380px) {
  input, textarea {
    max-width: 206px;
  }
  table {
    width: 288px;
  }
  th, td {
    display: block;
  }
  td {
    text-align: left;
  }
  td > .table_button {
    border-bottom: #AFAFAF 1px solid;
  }
  .table__padding {
    padding: 0;
    margin-top: 24px;
    border: none;
  }
  table td.table__padding::before {
    content: attr(data-label);
    display: block;
    padding: 8px 0 16px 0;
    color: #AFAFAF;
    font-size: 12px;
    line-height: 20px;
    font-family: AvenirNextDemiBold;
  }
  thead {
    display: none;
  }
  .table__ticketButton {
    width: 288px;
    height: 48px;
    text-align: center;
    margin: 32px 0 16px 0;
  }
  .table__date {
    width: 50%;
  }
  footer {
    height: 800px;
  }
  .footer__footer1, .footer__footer2, .footer__footer3 {
    margin: 32px 16px;
  }
  .footer__footRight {
    display: none;
  }
  .footer__footer2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__footer3 {
    width: 220px;
  }
  .footer__foot1 {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__socialMediaLogo {
    padding: 32px 16px 0 0;
  }
  .footer__inline {
    padding: 24px 0 0 0;
  }
  .footer__foot2 {
    margin-bottom: 24px;
  }
}

/* ------- MOBILE ------ */
/* MEDIA FOR PHONES -----------*/
@media screen and (max-width: 320px) {
  /* ------- HEADER/NAV ------ */
  nav {
    height: 80px;
  }
  .nav__item {
    padding: 8px 0;
    width: 50%;
  }
  .nav__logo {
    padding: 0 70px;
  }
  header nav ul {
    margin: 0;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav ul li {
    margin: 0;
    padding: 8px 0;
  }
  /* ------- MAIN ------ */
  .main__artistName {
    width: 250px;
    margin-left: 16px;
  }
  .main__background {
    height: 183px;
  }
  /* ------- MAIN CONTENT ------ */
  .content {
    margin-bottom: 40px;
  }
  .content__mainCenter {
    padding: 0;
  }
  .content__main {
    padding: 0px 16px;
  }
  .p__shortBio1, .p__shortBio2 {
    width: 100%;
    padding: 0;
    word-wrap: break-word;
  }
  .img__about {
    width: 100%;
    height: auto;
  }
  /* ------- GALLERY ------ */
  .photoContent__main {
    padding: 0px 16px;
  }
  .photoContent__gallery {
    width: 288px;
    height: 162px;
    padding-bottom: 16px;
  }
  .photoContent__photos {
    padding-top: 0;
  }
  /* ------- GLOBAL/FONTS/RESET ------ */
  .padding--lg {
    padding: 8px 0 0 0;
  }
  h1, .h1_heroHeader {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirNextBold;
    padding: 32px 0 24px 0;
  }
  h2 {
    font-size: 14px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: AvenirNextDemiBold;
    padding: 0;
  }
  h3 {
    padding: 8px 0;
  }
  p {
    font-size: 13px;
    line-height: 18px;
  }
  h4, li {
    font-size: 13px;
    line-height: 18px;
  }
  h5, th, td {
    font-size: 12px;
    line-height: 20px;
  }
  /* ------- SHOWS PAGE ------ */
  .main__shows {
    height: 472px;
  }
  .main__artistNameShow {
    padding-top: 0;
  }
  .main__soundcloud {
    padding-left: 16px;
    width: 288px;
    margin-top: 40px;
  }
  .main__album {
    margin-left: 16px;
    padding-top: 40px;
    width: 300px;
  }
  .content__header {
    padding: 32px 0 16px 0;
  }
  table {
    width: 288px;
  }
  th, td {
    display: block;
  }
  td {
    text-align: left;
  }
  td > .table_button {
    border-bottom: #AFAFAF 1px solid;
  }
  .table__padding {
    padding: 0;
    margin-top: 24px;
    border: none;
  }
  table td.table__padding::before {
    content: attr(data-label);
    display: block;
    padding: 8px 0 16px 0;
    color: #AFAFAF;
    font-size: 12px;
    line-height: 20px;
    font-family: AvenirNextDemiBold;
  }
  thead {
    display: none;
  }
  .table__ticketButton {
    width: 288px;
    height: 48px;
    text-align: center;
    margin: 32px 0 16px 0;
  }
  .table__date {
    width: 50%;
  }
  /* ------- COMMENTS SECTION ------ */
  .commentContent__main {
    padding: 0px 16px;
  }
  .commentContent__section {
    margin: 16px 0 0 0;
  }
  .commentContent__button {
    margin-bottom: 32px;
  }
  .commentJava__section {
    margin: 0;
    padding: 24px 0;
    width: 100%;
  }
  .commentJava__comment {
    margin-top: 16px;
  }
  input, textarea {
    width: 206px;
  }
}
/*# sourceMappingURL=styles.css.map */