/* MEDIA FOR TABLET------------- */


@media screen and (max-width: 1400px) {
  /* ------- VARIABLES ------ */
  $tabletMargin: 24px;
  
  /* ------- HEADER/NAV ------ */
  
    header nav ul {
      margin-left: $tabletMargin;
    }
  
  /* ------- MAIN ------ */
  
    .main__background {
      height: 400px;
    }
  
  /* ------- MAIN CONTENT ------ */
  
    .content__main, .photoContent__main {
      padding: 0px $tabletMargin;
    }
  
    .main__artistName {
      margin-left: $tabletMargin;
    }
  
    .content__mainCenter {
      padding: 0;
    }
  
    .p__shortBio1, .p__shortBio2 {
      width: 330px;
      padding: 0 $tabletMargin 0 0;
    }

    .p__shortBio2 {
      margin-top: 16px;
    }
  
  /* ------- GALLERY ------ */
  
    .img__about {
      height: 362px;
      width: 720px;
    }
  
    .photoContent__gallery {
      width: 224px;
      height: 126px;
    }

    .photoContent__photos {
      justify-content: space-around;
    }

  
  /* ------- FOOTER CLASSES ------ */
    .footer__footer1, .footer__footer2, .footer__footer3 {
      margin-left: $tabletMargin;
      margin-right: $tabletMargin;
    }
  
    .shows {
      height: 670px;
    }

    .main__soundcloud {
      padding-left: $tabletMargin;
    }
  
    .main__album {
      margin-left: $tabletMargin;
      padding-top: 96px;
      width: 600px;
    }

  /* ------- SHOWS PAGE ------ */

    table {
      width: 720px;
      padding-top: 0;
    }

    .main__shows {
      height: 670px;
    }

  /* ------- COMMENT SECTION ------ */

    .commentContent__main {
      padding: 0px $tabletMargin;
    }

    .commentJava__section {
      /*margin: 0 96px;*/
      padding: 24px 0;
/*       width: 528px; */
    }

  }

  @media screen and (min-width: 883px) {
    table {
      padding-top: 48px;
    }
  }

  @media screen and (max-width: 767px) {
    .photoContent {

      &__gallery {
        width: 288px;
        height: 162px;
        padding-bottom: 16px;
      }
      &__photos {
        justify-content: space-around;
      }
    }

    input, textarea {
      width: 365px;
    }

    .commentJava__section {
      margin: 0;
    }
  }
   
  @media screen and (max-width: 590px) {
    .footer__footRight {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    input, textarea {
      width: 265px;
    }

    nav {
      height: 80px;
      justify-content: center;
    }
  
    .nav {
      &__item {
        padding: 8px 0;
        width: 50%;
      }

      &__logo {
        padding: 0 70px;
      }
    }

    header nav ul {
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
    }
    
    header nav ul li {
      margin: 0;
      padding: 8px 0;
    }
  }

   
  @media screen and (max-width: 380px) {
    input, textarea {
      max-width: 206px;
    }
  }

