/* MEDIA FOR TABLET------------- */


@media screen and (max-width: 1300px) {
  /* ------- VARIABLES ------ */
  $tabletMargin: 24px;
  
  /* ------- HEADER/NAV ------ */
  
    header nav ul {
      margin-left: $tabletMargin;
    }
  
  /* ------- MAIN ------ */
  
    .main__background {
      height: 400px;
    }
  
  /* ------- MAIN CONTENT ------ */
  
    .content {
      &__main {
        padding: 0px $tabletMargin;
      }

      &__mainCenter {
        padding: 0;
      }
    }

    .photoContent__main {
      padding: 0px $tabletMargin;
    }
  
    .main__artistName {
      margin-left: $tabletMargin;
    }
  
    .p__shortBio1, .p__shortBio2 {
      width: 330px;
      padding: 0 $tabletMargin 0 0;
    }

    .p__shortBio2 {
      margin-top: 16px;
    }
  
  /* ------- GALLERY ------ */
  
    .img__about {
      height: 362px;
      width: 720px;
    }
  
    .photoContent__gallery {
      width: 224px;
      height: 126px;
    }
  
  /* ------- FOOTER CLASSES ------ */

    .footer {
      &__footer1, &__footer2, &__footer3 {
        margin-left: $tabletMargin;
        margin-right: $tabletMargin;
      }
    }


  /* ------- SHOWS PAGE ------ */

    .shows {
      height: 670px;
    }

    .main {
      &__soundcloud {
        padding-left: $tabletMargin;
      }

      &__album {
        margin-left: $tabletMargin;
        padding-top: 96px;
        width: 600px;
      }

      &__shows {
        height: 670px;
      }
    }

    table {
      width: 720px;
      padding-top: 0;
    }

  }